# Python
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual Environments
.venv/
venv/
env/
ENV/
.conda/
.pyenv/

# Logs and Databases
logs/
*.log
*.sqlite3
*.db

# Unit test / Coverage reports
.pytest_cache/
.coverage
.tox/
.nox/
htmlcov/
*.cover
*.py,cover

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

# Packaging / Build
build/
dist/
*.egg-info/
.eggs/

# Others
*.bak
*.tmp
